{% extends 'baseapp/basePage.html' %}

{% load static %}

{% block content %}

<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Map of {{country.name}}</h2>
            <p>{{country.description}}</p>
            <a class="cta-btn" href="{% url 'countries' %}">Back to Countries</a>
            <a class="cta-btn" href="{% url 'about' country.id %}">About {{country.name}}</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{{country.mapImage.url}}" alt="">
                <br>
                <hr>
                <img src="{{country.countryFlag.url}}" alt="">
              </div>
              
              <!-- <div class="swiper-slide">
                <img src="{{country.countryFlag.url}}" alt="">
              </div> -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section><!-- End Gallery Single Section -->
  </main><!-- End #main -->


{% endblock content%}